form
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
.DS_Store
node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
dist/
.idea/
TEST*.xml
.DS_Store
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
command-ref.txt
# *.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.pem
tf.plan
tf.json
.vscode
file:
*.out

# Terragrunt
.terragrunt-cache

# OS X
.history
.DS_Store